**Chapter 5, Problem 6**
This continues off of P5 so I am going to just copy the code that we have in the P5 file over here including the imports, special function and data cleaning.

In [1]:
# Imports
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from scipy import stats
# from Confusion_Table import confusion_table
# from Confusion_Table import total_error_rate
from sklearn.metrics import accuracy_score

In [2]:
def confusion_table(confusion_mtx):
    """Renders a nice confusion table with labels"""
    confusion_df = pd.DataFrame({'y_pred=0': np.append(confusion_mtx[:, 0], confusion_mtx.sum(axis=0)[0]),
                                 'y_pred=1': np.append(confusion_mtx[:, 1], confusion_mtx.sum(axis=0)[1]),
                                 'Total': np.append(confusion_mtx.sum(axis=1), ''),
                                 '': ['y=0', 'y=1', 'Total']}).set_index('')
    return confusion_df

def total_error_rate(confusion_matrix):
    """Derive total error rate from confusion matrix"""
    return 1 - np.trace(confusion_mtx) / np.sum(confusion_mtx)

In [3]:
# Load Dataset
# Path = C:\Users\smtrp\OneDrive\Desktop\DS502\ISLR\Data_Sets\Default.csv
Default_data = pd.read_csv(r"C:\Users\smtrp\OneDrive\Desktop\DS502\ISLR\Data_Sets\Default.csv")
Default_data.dropna()
# Rationalize types (?)
Default_data = pd.get_dummies(Default_data)
Default_data

,balance,income,default_No,default_Yes,student_No,student_Yes
0,729.526495,44361.625074,1,0,1,0
1,817.180407,12106.134700,1,0,0,1
2,1073.549164,31767.138947,1,0,1,0
3,529.250605,35704.493935,1,0,1,0
4,785.655883,38463.495879,1,0,1,0
...,...,...,...,...,...,...
9995,711.555020,52992.378914,1,0,1,0
9996,757.962918,19660.721768,1,0,1,0
9997,845.411989,58636.156984,1,0,1,0
9998,1569.009053,36669.112365,1,0,1,0
9999,200.922183,16862.952321,1,0,0,1

In [4]:
# Main loop
for i in list(range(1,4)):
    np.random.seed(i)
    train = np.random.rand(len(Default_data)) < 0.5
    
    response   = 'default_Yes'
    predictors = ['income', 'balance']
    
    X_train = np.array(Default_data[train][predictors])
    X_test  = np.array(Default_data[~train][predictors])
    y_train = np.array(Default_data[train][response])
    y_test  = np.array(Default_data[~train][response])
    
    # Logistic regression
    logit       = LogisticRegression()
    model_logit = logit.fit(X_train, y_train)
    
    # Predict
    y_pred = model_logit.predict(X_test)

    # Analysis
    print("Seed is: " + str(i))
    confusion_mtx = confusion_matrix(y_test, y_pred)
    display(confusion_table(confusion_mtx))
    
    total_error_rate_pct = np.around(total_error_rate(confusion_mtx) * 100, 4)
    print('total_error_rate: {}%'.format(total_error_rate_pct))

Seed is: 1

       y_pred=0  y_pred=1 Total

y=0        4846         0  4846
y=1         164         0   164
Total      5010         0

total_error_rate: 3.2735%
Seed is: 2

       y_pred=0  y_pred=1 Total

y=0        4691         1  4692
y=1         176         0   176
Total      4867         1

total_error_rate: 3.636%
Seed is: 3

       y_pred=0  y_pred=1 Total

y=0        4773         1  4774
y=1         163         0   163
Total      4936         1

total_error_rate: 3.3219%

In [5]:
# The joys of copy pasting pre-used code.
for i in list(range(1,4)):
    np.random.seed(i)
    train = np.random.rand(len(Default_data)) < 0.5
    
    response   = 'default_Yes'
    predictors = ['income', 'balance', 'student_Yes']
    
    X_train = np.array(Default_data[train][predictors])
    X_test  = np.array(Default_data[~train][predictors])
    y_train = np.array(Default_data[train][response])
    y_test  = np.array(Default_data[~train][response])
    
    # Logistic regression
    logit       = LogisticRegression()
    model_logit = logit.fit(X_train, y_train)
    
    # Predict
    y_pred = model_logit.predict(X_test)

    # Analysis
    print("Seed is: " + str(i))
    confusion_mtx = confusion_matrix(y_test, y_pred)
    display(confusion_table(confusion_mtx))
    
    total_error_rate_pct = np.around(total_error_rate(confusion_mtx) * 100, 4)
    print('total_error_rate: {}%'.format(total_error_rate_pct))

Seed is: 1

       y_pred=0  y_pred=1 Total

y=0        4846         0  4846
y=1         164         0   164
Total      5010         0

total_error_rate: 3.2735%
Seed is: 2

       y_pred=0  y_pred=1 Total

y=0        4691         1  4692
y=1         176         0   176
Total      4867         1

total_error_rate: 3.636%
Seed is: 3

       y_pred=0  y_pred=1 Total

y=0        4773         1  4774
y=1         163         0   163
Total      4936         1

total_error_rate: 3.3219%

**a)**
Unclear. I need to find a funtion that will do whatever it is that glm does in R. Okay. 
So a glm is a generalised linear model. Okay so apparently there is somehting in the statsmodels library that does what glm does.
So lets get that.

In [9]:
import statsmodels.formula.api as smf
import statsmodels.api as sm
# I have no idea why we are doing two imports but lets roll with the tutorial.
response = 'default_Yes'
predictors = ['income','balance']
X_all = sm.add_constant(np.array(Default_data[predictors]))
y_all = np.array(Default_data[response])
# Okay so what is add_constant? Add a column of ones to the array. Again, lost here. 
# Why are we doing this? Am I missing something?
# Probably, but lets continue and see if I can figure it out. 
# I am actually, at least in theory, way more comfortable with section b than I am with
# whatever this is.

## Logistic regression
model_logit = sm.Logit(y_all, X_all).fit(disp=False);    

# Summary
print(model_logit.summary())

statsmodels_est = pd.DataFrame({'coef_sm': model_logit.params, 'SE_sm': model_logit.bse})
display(statsmodels_est)

                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9997
Method:                           MLE   Df Model:                            2
Date:                Fri, 18 Nov 2022   Pseudo R-squ.:                     inf
Time:                        21:20:38   Log-Likelihood:                   -inf
converged:                       True   LL-Null:                        0.0000
Covariance Type:            nonrobust   LLR p-value:                     1.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -11.5405      0.435    -26.544      0.000     -12.393     -10.688
x1          2.081e-05   4.99e-06      4.174      0.000     1.1e-05    3.06e-05
x2             0.0056      0.000     24.835      0.000       0.005       0.006
==============================================================================

Possibly complete quasi-separation: A fraction 0.14 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.

c:\Users\smtrp\anaconda3\lib\site-packages\statsmodels\discrete\discrete_model.py:1819: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
c:\Users\smtrp\anaconda3\lib\site-packages\statsmodels\discrete\discrete_model.py:1872: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))
c:\Users\smtrp\anaconda3\lib\site-packages\statsmodels\base\model.py:592: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warnings.warn('Inverting hessian failed, no bse or cov_params '
c:\Users\smtrp\anaconda3\lib\site-packages\statsmodels\base\model.py:592: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warnings.warn('Inverting hessian failed, no bse or cov_params '

     coef_sm     SE_sm
0 -11.540468  0.434772
1   0.000021  0.000005
2   0.005647  0.000227

**b)**
Lets move on to something I do understand - making functions.
This is actually quite straightforward.

In [10]:
def boot_fn(df, index):
    response = 'default_Yes'
    predictors = ['income','balance']
    x = df.loc[predictors]
    y = df.response
    
    log_m = LogisticRegression()
    log_fit = log_m.fit(x,y)
    return log_fit.coef

#Should Work

**c)** 
Isaac, don't run the code below. It is most certainly inaccurate. I don't know why though. If you run it, it will go into overflow.

In [15]:
# Okay what is boot()?
# Have I shot myself in the foot?
# Found this on the internet. let's see if it works.
# I will have to overwrite my boot_fn function for this to work though 
# This is annoying
def boot_fn(df, idx):
    response   = 'default_Yes'
    predictors = ['income', 'balance']
    
    X = sm.add_constant(np.array(df[predictors].loc[idx]));
    y = np.array(df[response].loc[idx]) 
       
    # Logistic regression
    model_logit = sm.Logit(y, X).fit(disp=False);  
    return model_logit.params

**Donot run the code below**
Actually, I am just going to comment it out.

In [18]:
# def boot_idx(n):
#     """Return index for bootstrap sample of size n
#     e.g. generate array in range 0 to n, with replacement"""
#     return np.random.randint(low=0, high=n, size=n)

# def boot(fn, data_df, samples):
#     """Perform bootstrap for B number of samples"""
#     results = []
#     for s in range(samples):
#         Z = fn(data_df, boot_idx(data_df.shape[0]))
#         results += [Z]
#     return np.array(results)

# def standard_deviation(X):
#     """Compute deviation error for jth element in matrix X
#     equivalent to np.std(X, axis=0)"""
#     X_bar = np.mean(X, axis=0)
#     SE = np.sqrt((np.sum(np.square(X - X_bar), axis=0)) / (len(X)))
#     return SE

# B = 10000
# coef_preds    = boot(boot_fn, Default_data, samples=B)
# coef_pred     = np.mean(coef_preds, axis=0)
# standard_errs = standard_deviation(coef_preds)

# bootstrap_est = pd.DataFrame({'coef_boot': coef_pred, 'SE_boot': standard_errs})
# display(bootstrap_est)

**d)** 
As I couldn't get part c to work, I don't think I have any insights. However, if I were to make an educated guess, from the looks of it, I think that the errors, logically, should be identical or close to identical. My reasoning is this - the bootstrap essentially extracts every possible ounce of data from the sample by treating it as a population and drawing samples several times. As, in this case, we are comparing the bootstrap statistics with the population from which it was drawn from, the bootstrap should approximate closely the sample error that can be calculated from the regular glm calculation. I don't think this would have had been the case had the data been sparse or if it had significant standard deviation or if lesser number of bootstrap samples were used.